*{
 padding: 0px;
 margin: 0px;
}
.container{
    height:100vh;
    background-color: azure;
}
.main{
    height: 10vh;
    background-color: rgba(193, 109, 123, 0.922);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
    margin: 10px;
}
.list{
    height: 70vh;
    width:60vh;
    background-color:rgba(220, 105, 124, 0.71);
    display: flex;
    position: absolute;
    left: 35%;
    top: 25%;
    border-radius: 2em;
}
.search{
    height: 3.4em;
    width:95%;
    background-color: rgba(0, 0, 0, 0.605);
    margin: 1.9em;
    border-radius: 1em;
    border: none;
    color: white;
    font-size: 1em;
}
button{
    background-color: rgba(0, 0, 0, 0.605);
    height: 3.9em;
    width: 7em;
    border-radius: 1em;
    margin: 0.9em;
    margin-top: 2.5em;
    color: antiquewhite;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
}